# --- Gateway Configuration ---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: jedy-gateway
  namespace: starwars
spec:
  # Specifies the Gateway class to use. 'eg' corresponds to Envoy Gateway that we installed.
  # This link tells Kubernetes "Use Envoy to manage this gateway".
  gatewayClassName: eg 
  listeners:
  - name: http
    protocol: HTTP
    port: 80 # The port exposed on your localhost (via the cluster LoadBalancer)
    allowedRoutes:
      namespaces:
        from: Same # Allows only routes defined in the same namespace