---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-persistent-volume-claim
  namespace: starwars
# k8s must find a storage instance that meets the requirements
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      # Find a storage instance that has 2Gi
      storage: 2Gi
--- 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: postgres
  template:
    metadata:
      labels:
        component: postgres
    spec:
      # Specifies the volume used to store data
      volumes:
        - name: postgres-storage
          # Specifies that a PVC volume will be used
          persistentVolumeClaim:
            # Matches the name specified in the database-persistent-volume-claim file
            claimName: database-persistent-volume-claim
      containers:
        - name: postgres
          image: postgres
          ports:
            - containerPort: 5432
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          # Indicates in which container folder the data should be stored
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/Data
          # Environment variables
          env:
            - name: POSTGRES_PASSWORD
              # Indicates that we want to retrieve the PGPASSWORD value from the Secret named pgpassword
              valueFrom:
                secretKeyRef:
                  name: pgpassword
                  key: PGPASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-cluster-ip-service
  namespace: starwars
spec:
  type: ClusterIP
  selector:
    component: postgres
  ports:
    - port: 5432
      targetPort: 5432